.DS_Store
.env.*
*.pem
*.md
public/assets/fonts/TransportNew*.otf
public/assets/images/enUS_add_to_google_wallet_add-wallet-badge.svg
public/assets/images/US-UK_Add_to_Apple_Wallet_RGB_101421.svg
!README.md
!.env.example

package-lock.json
/node_modules
/out/
/build

npm-debug.log*
.pnpm-debug.log*

.vercel
*.tsbuildinfo
/.next/
next-env.d.ts
